<app-user-navbar></app-user-navbar>
<div class="content">
    <app-modal-screen></app-modal-screen>
    <app-commercials></app-commercials>
    <div class=" news-modal">

        <div class="news-content">
            <section class="news-section">
                <div class="news-body">
                    <h1 class="header-text">Latest News</h1>

                </div>

            </section>
        </div>
        <div class="news-content">
            <section class="news-section">
                <div class="news-body">
                    <h1 class="header-text">Business News</h1>
                </div>
            </section>
        </div>
        <div class="news-content">
            <section class="news-section">
                <div class="news-body">
                    <h1 class="header-text">Sports News</h1>
                </div>
            </section>
        </div>
        <div class="news-content">
            <section class="news-section">
                <div class="news-body">
                    <h1 class="header-text">ShareMarket News</h1>
                </div>
            </section>
        </div>
    </div>
</div>


<app-user-footer></app-user-footer>